.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 144, 14, 0.1);
    height: 1322px;
    width: auto;
    justify-content: center;
    
}
/* head-1 */
.Head-1{
    display: flex;
    
}
.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-1 h3{
    font-weight: 700;
    font-size: 45px; 
    text-align: center;
    color: #131313;
    margin-right: 673px; 
}
.item-2{
    font-weight: 500;
    font-size: 18px;
}
.item-2 ul{
    display: flex;
    width: 477px;
    justify-content: space-between;
}
.item-2 ul li{
    list-style: none;
    margin-right: 20px;
}
/* head-2 */
.Head-2{
    height: 408px;
    width: 862px;
    text-align: center;
}
.Head-2 h1{
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 0px;
}
.Head-2 p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 32px 0;
}
.Head-2 button, button{
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
}
/* head-3 */
.head-img{
    width: 1440px;
    height: 700px;
    border-radius: 8px;
}
.head-img img{
    width: 100%;
    height: 100%;
}
/* main */

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.contant{
    display: flex;
    align-items: center;
    margin-top: 85px;
}
.contant-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    
}
.contant-2{
    width: 537px;
    height: 304px;
    margin-left: 83px;
}
.contant-2 h1{
    display: flex;
    font-weight: 500;
    font-size: 45px;
    width: 468px;
    height: 106px;
    flex-wrap: wrap;
}
.span-1{
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}

.span-2{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.span-3{
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}

.contant-2 p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
/* main */

.main-2{
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 1059px;
    margin-top: 130px;
}
.main-2-container{
    display: flex;
    flex-direction: column;
}
.main-2-contants{
    width: 586px;
    height: 171px;
    border: 1px solid #0000000f;
    margin-bottom: 20px;
}
.main-2-contant{
    margin: 30px 30px 30px 42px;
    background-color: #FFFFFF;
}

.main-2-container-title{
    display: flex;
    align-items: center;
}
.main-2-container-title h1{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    width: 468px;
    height: 106px;
}

.line{
    width: 5px;
    height: 106px;
    background-color: #FF900E;
    display: flex;
    margin-right: 21px;

}
.main-2-container p{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
    color: #727272;
}
.main-2-container-img img{
    width: 708px;
    height: 982px;
}
.btn-title{
    font-weight: 700;
    font-size: 65px;
}
.main-2-container button{
    width: 342px;
    height: 200px;
    margin-top: -133px;
    margin-left: -92px;
}